// Fuente
$fuentePrincipal: 'Montserrat', sans-serif;

// Colores
$naranja: #bb7347;
$celeste: #6e88c5;
$celesteOscuro: #2b3f6d;
$azul: #0c2864;
$verde: #59b04f;
$azulOscuro: #292944;
$negro: #000;
$blanco: #fff;
$gris: #323333;
$grisClaro: #9c9c9c;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

// Separaciones
$separacion: 5rem;