.myself {
    background-color: $gris;
    padding: .2rem;
    p {
        text-align: center;
        color: $blanco;
    }
}

.idioma {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    img {
        height: 2.5rem;
        width: 2%;
    }

    a {
        color: $blanco;
        &:hover {
            color: $celeste;
        }
    }
}